#page-title-span{
  margin-left: 10px;
}

#main-page{
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #A9A9A9;
}

#navbars{
  background-color: #003366;
}

#login-dialog{
  background-color: rgba(52,73,94,0.7);
  position: fixed;
}

article{
  max-height: 20vh;
  width: 30%;
}

/*#description{
  max-height: 2px;
}*/

#loginBtn,#signupBtn{
     background-color: powderblue;
     /*padding-left: 10px;*/
}

/*#login-dialog{
  display: none;
}*/

#signupdialog{
  background-color: rgba(52,73,94,0.7);
}

#text{
  color: #ff0033;
}

#color{
  color: black;
}

.button-icon{
  margin-left: 10px;
}

#fb,#google,#anome{
  font-size: 25px;
  padding-left: 20px;
}

#links{
  padding-left: 40px;
  color: powderblue;
}

#login-page{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A9A9A9;
}

#downloadPop{
  top: 35%;
}

#loginProgress,#loginError,#bunny{
  display: none;
}


#signupBtn{
  margin-right: 45px;
}

#addBtn{
  position: fixed;
  top: 85vh;
  left: 92vw;
}

#downloading{
  position: fixed;
  top: 85vh;
  left: 92vw;
  z-index: 1000;
}

#downloadBtn{
  z-index: 1000;
}

#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 10px;
}

.close,.addOnsclose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 6px;
}

#deleteBtn{
  color: #aaa;
  font-size: 28px;
  margin-right: 6px;
  z-index: 1200;
}

#fileButton{
  max-width: 100%;
}

.row{
  height: 3%;
  width: 15%;
}

#signoutBtn{
  margin: 15px 10px 10px 10px;
  background-color: #A442DC;
}

.close:hover,.close:focus,#deleteBtn:hover,#deleteBtn:focus,#downloadBtn:hover,#downloadBtn:focus,.addOnsclose:hover , .addOnsclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myimg {
  display: flex;
  flex-wrap: wrap;
}

#sidebar{
  color: cyan;
  font-family: 'Barrio', cursive;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
}
