#main-page{
  width: auto;
  height: auto;
  z-index: 1;
}

#buttons{
  text-align: center;
}

#padd1{
  padding-top: 20px;
}


.fixed-action-btn{
  position: absolute;
}

#title{
  padding-left: 35%;
  color: white;
}

#navbars{
  background-color: #003366;
}

#login-dialog{
  position: fixed;
  width: 60vw;
  height: 70vh;
  background-color: rgba(52,73,94,0.7);
}

#flexxy{
  display: flex;
}

#box1{
  width: 60%;
  height: 100%;
}

#box2{
  top: 0;
  width: 50%;
  height: 50%;
  margin-left: 5%;
}

#loginBtn,#signupoption,#signupBtn,#signinoption{
     background-color: blue;
}

.horizontal{
  z-index: 1;
}

#signupdialog{
  background-color: rgba(52,73,94,0.7);
  position: fixed;
  width: 60vw;
  height: 70vh;
}

#color{
  color: black;
}

#ul{
  top: 8%;
  right: 45px;
}

#fb,#google,#anome{
  font-size: 25px;
  padding-left: 20px;
  color: white;
}

#links{
  padding-left: 6vw;
}

#fb:hover{
  color: blue;
}

#google:hover{
  color: red;
}

#anome:hover{
  color: black;
}

#login-page{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#downloadPop{
  top: 35%;
}

#loginProgress,#loginError{
  display: none;
}


#signupBtn,#signupoption{
  margin-left: 30px;
}

#addBtn{
  top: 85vh;
  left: 92vw;
}

#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 10px;
}

#fileButton{
  max-width: 100%;
}

.row{
  height: 60vh;
  width: 15vw;
}

/*@media only screen and (max-width: 1000px) {
    .row{
      height: 60vh;
      width: 33.3vh;
    }
}*/

#myimg {
  display: flex;
  flex-wrap: wrap;
}
